<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>监狱民警考核测评系统</title>
		<link rel="stylesheet" href="dest/bower/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="dest/bower/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="dest/app.css" />
		<script type="text/javascript" src="dest/bower/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="dest/bower/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="dest/bower/angular/angular.min.js"></script>
		<script type="text/javascript" src="dest/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="dest/app.js"></script>
	</head>

	<body ng-app="ppees" ng-controller="ppeesCtrl">
		<div ui-view>
		</div>
	</body>
</html>